.footer {
  background: var(--bg);
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer__conteiner {
  display: flex;
  align-items: baseline;
}

.footer-information {
  flex-grow: 1;
  margin-right: 70px;
}

.footer-information__logo {
  margin-bottom: 20px;
  display: block;
}

.footer-information__logo-part {
  color: var(--white);
}

.footer-information__address {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.footer-information-list__item:not(:lasr-child) {
  margin-bottom: 9px;
}

.footer-information-list__location {
  color: var(--white);
  display: block;
  // margin-bottom: 9px;
}

.footer-information-list__tell,
.footer-information-list__mail {
  color: rgba(255, 255, 255, 0.6);
  display: block;
  // margin-bottom: 9px;
}

.footer__social {
  margin-right: 93px;
}

.footer__social-titel {
  color: var(--white);
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
}
.footer-social-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--blue);
  }
}

.footer-social-list__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list__icon {
  fill: var(--white);
}

/* .footer-div-subscription {
} */

.footer__title-subscription {
  color: var(--white);
  margin-bottom: 20px;
}

.subscription {
  display: flex;
}

.subscription__input {
  outline: none;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  color: var(--white);
  background-color: transparent;
  &::placeholder {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }
}

.subscription__button {
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--white);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;
  /* padding-left: 29px; */
  border: transparent;
}

.subscription__button-icon {
  margin-left: 10px;
}
